 /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
 /* wallust template - colors-rofi */

* {
active-background: #808FA6;
active-foreground: #E7E1DE;
normal-background: #272726;
normal-foreground: #E7E1DE;
urgent-background: #A09577;
urgent-foreground: #E7E1DE;

alternate-active-background: #6B6D20;
alternate-active-foreground: #E7E1DE;
alternate-normal-background: #272726;
alternate-normal-foreground: #E7E1DE;
alternate-urgent-background: #272726;
alternate-urgent-foreground: #E7E1DE;

selected-active-background: #808FA6;
selected-active-foreground: #272726;
selected-normal-background: #808FA6;
selected-normal-foreground: #272726;
selected-urgent-background: #6B6D20;
selected-urgent-foreground: #272726;

background-color: #272726;
background: rgba(0,0,0,0.7);
foreground: #E7E1DE;
border-color: #808FA6;

color0: #4D4D4B;
color1: #173E62;
color2: #4C4F11;
color3: #505218;
color4: #606B7C;
color5: #787059;
color6: #8C7F7A;
color7: #D4CCC8;
color8: #948E8C;
color9: #1E5382;
color10: #666917;
color11: #6B6D20;
color12: #808FA6;
color13: #A09577;
color14: #BAA9A2;
color15: #D4CCC8;


}

